body{
    background: rgb(255, 255, 255);
    padding-top: 100px;

}
#first .container {
    background: #A39067;
    color: #FFFFFF;
    margin: 0px;

}



.navbar {
    
    color: white;
    background-color: #A39067;
    background: #A39067;
}

.navbar-default {
    background-color: #A39067;
    border-color: #A39067;
}
#main-nav .nav-item.active {
    color: lightgray;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

}

.navbar .nav-item.active {
    border-left: #444 1px solid;
}

body {
    overflow-x: hidden;
}
.carousel-item {
    height: 450px;
}

.bluebells {
    background: url("/img/Bluebells.png");
    background-size: cover;
    padding: 18rem;
}
.carousel-image-1 {
    /* background: slateblue; */
    /* background-image: url("/img/Bluebells.png"); */
    background: #F5F9F9;
    height: 122px;
    /* background-color:rgb(27, 25, 25); */
    /* background-size: cover; */
}
.carousel-image-2 {
    /* background: royalblue; */
    /* background-image: url("/img/Bluebells.png"); */
    height: 122px;
    background: #F5F9F9;
    /* background-color:rgb(27, 25, 25); */
    /* background-size: cover; */
}
.carousel-image-3 {
    /* background: teal; */
    /* background-image: url("/img/Bluebells.png"); */
    height: 122px;
    background: #F5F9F9;
    /* background-color:rgb(27, 25, 25); */
    /* background-size: cover; */
}

#buttons.btn {
    background: pink;
}

#info, #buttons{
    text-align: center;
    background: rgb(253, 253, 253);
}
#news  {
    position: relative;
    min-height: 200px;
    background: skyblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
}
#main-footer {
    background: #0F3544;
    background-color: #234654
}
* {cursor: 
    url(http://cur.cursors-4u.net/nature/nat-10/nat946.ani), 
    url(http://cur.cursors-4u.net/nature/nat-10/nat946.png), 
    auto !important;} 

#headImg {
    margin: 10px 0px 10px 10px;
    height: 122px;
}
/* .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 } */
 .carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 100px;
  width: 100px; */
  outline: black;
  /* background-size: 100%, 100%; */
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  /* background-image: none; */
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }